@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(Pictures/bg-foto.jpg);
    backdrop-filter: brightness(70%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.sidebar{
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    transition: width 0.3s ease;
}

.sidebar:hover{
    width: 270px;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo h1{
    font-size: 40px;
    color: black;
}

.logo h2{
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
    margin-left: 20px;
    display: none;
}

.sidebar:hover .logo h2{
    display: block;
}

.sidebar .links{
    list-style: none;
    margin-top: 20px;
}

.sidebar .links h4{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 10px;
    display: none;
}

.sidebar:hover .links h4{
    display: block;
}

.links li {
    display: flex;
    align-items: center;
}
.links li.current{
    display: flex;
    align-items: center;
    background-color: rgb(255, 145, 0);
}

.links li:hover {
    border-radius: 4px;
    cursor: pointer;
    background: rgba(255, 166, 0, 0.6);
}

.sidebar:hover .links hr{
    border-color: transparent;
}

.links li span{
    padding: 12px 10px;
    color: black;
}

.links li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    width: 130px;
    display: none;
}

.sidebar:hover .links li a {
    display: block;
}

.content {
    margin-left: 140px;
    margin-top: 0px;
    padding-top: 60px;
    width: calc(100% - 140px); 
    flex-direction: column;
    display: flex;
    color: white;
    transition: margin-left 0.3s ease, width 0.3s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 1px);
}

.sidebar:hover ~ .content {
    margin-left: 290px;
    width: calc(100% - 290px);
}

.container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.container .top-bar {
    background-color: black;  
    width: 1000px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px 40px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar.active{
    border-radius: 15px;
}

.forum-name{
    font-weight: 800;
    color: orange;
    /* background-color: aqua;  */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.buttons {
    /* background-color: aqua; */
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-thread {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: none;
    border: 3px solid orange;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-thread:hover{
    border: none;
    background-color: orange;
    border: 3px solid orange;
    transition: 0.2s ease;
    color: black;
}

.new-thread-setup {
    background-color: orange;
    width: 1000px;
    display: none;
    padding: 30px;
    padding-left: 40px;
}

.thread-create {
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.info {
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

.tt {
    margin-top: 8px;
    width: calc(100% - 40px);
    padding: 15px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 3px;
    font-style: italic;
}

.tt:focus{
    font-style: normal;
}

textarea {
    width: 70%;
    margin-left: 20px;
    display: flex;
}

.btn{
    padding: 0;
    margin-top: 30px;
    margin-left: 750px;
}

.post-button, .cancel-button {
    background-color: black;
    color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-weight: 500;
    margin-right: 16px;
}

.main{
    background-color: white;
    padding: 20px 30px;
    overflow-y: scroll; 
    max-height: 210px;
    width: 1000px;
    display: none;
    margin-bottom: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .forum-title{
    text-decoration: none;
    color: orange;
    font-weight: 800;
}

.row{
    margin: 20px 0px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.row::marker{
    color: transparent;
}

.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
    font-weight: 100;
    margin-top: 3px;
}

.timestamp {
    padding-right: 20px;
}

.main::-webkit-scrollbar {
    width: 8px;
}
  
.main::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
    padding: 5px;
}
  
.main::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
